.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .playBtn {
    background-color: #111;
    color: #fff;
    padding: 3px 50px;
    border-radius: 15px;
    cursor: pointer;
  }
}